Package: net.limneos.arragestatusbar
Name: ArrageStatusBar
Depends: mobilesubstrate, preferenceloader, firmware (>=4.1)
Version: 0.1
Architecture: iphoneos-arm
Description: Drag StatusBar items to arrange them
Maintainer: Elias Limneos
Author: Elias Limneos
Section: Tweaks
